
* {
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #0d0d0d, #AAAAAA);
}
h3 {
  text-align: center;
  color: white;
  font-size: 2em;
  margin-top: 15px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50vw;
  max-width: 400px;
  height: auto;
  gap:10px;
  padding: 30px;
  background-color: black;
  border-radius: 25px;
  transition: .4s ease-in-out;
}

.form:hover {
  transform: scale(1.05);
  border: 1px solid black;
}

#heading {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}
.label {
  color: white;
  font-size: 0.9em;
  margin-left: 0.5em;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  border-radius: 15px;
  height: 30px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #686868;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}


.button {
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 145px;
  height: 45px;
  transition: .4s ease-in-out;
  background-color: #686868;
  color: white;
  margin: auto;
  margin-top: 30px;
}

.button:hover {
  background-color: #393939;
  color: white;
  cursor: pointer;
}

.notify {
  color: white;
  font-size: 0.9em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0.5em;
}
.error {
  color: red;
  font-size: 0.9em;
  text-align: center;
}

#logo {
  display: block;
  margin: auto;
  width: 40%;
  max-width: 155px;
  height: auto;
  max-height: 155px;
}
