.env
.vscode
.idea
venv

__pycache__.py

# Arquivos de cache
__pycache__/
**/__pycache__/

# Migrations (ignora todos, menos __init__.py)
**/migrations/**
!**/migrations/__init__.py

# Banco local
db.sqlite3
*.db

# Media / uploads
/media/
logo/
DataBase/

# Static
/static/jazzmin/
/static/vendor/


tests/__pycache__/

.pytest_cache

.coverage

AGENTS.md