services:
  web:
    build:
      context: .
      target: runtime
    image: obox:1.0.0
    container_name: Obox
    command: >
      sh -c "python manage.py makemigrations &&
             python manage.py migrate &&
             python manage.py loaddata initial_data &&
             python manage.py runserver 0.0.0.0:8000"
    ports:
      - "80:8000"
    env_file:
      - .env
    environment:
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:15
    container_name: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 30s
      retries: 5
      start_period: 30s

  rabbitmq:
    image: rabbitmq:4-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672" # interface web opcional
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}

  base_worker: &worker
    container_name: base_worker
    image: obox:1.0.0
    env_file:
      - .env
    depends_on:
      - rabbitmq

  celery_worker:
    <<: *worker
    container_name: celery_worker
    command: celery -A core worker -l info
    restart: always

  celery_beat:
    <<: *worker
    container_name: celery_beat
    command: celery -A core beat -l INFO --scheduler django_celery_beat.schedulers:DatabaseScheduler
    volumes:
      - celerybeat_data:/app/celerybeat_data
    restart: always

volumes:
  postgres_data:
  celerybeat_data:
