{% load static %}
<div 
  x-data="{ financeOpen: false }" 
  :class="open ? 'w-64' : 'w-20 items-center'" 
  class="bg-black text-white h-[90vh] flex flex-col transition-all duration-300 shadow-2xl rounded-2xl z-40"
>
<!-- Toggle -->
      <button @click="open = !open" class="hover:bg-gray-700 flex items-center justify-center space-y-2 gap-3 p-3 cursor-pointer">
        <img src="{% static 'media/logo/logo_obox.png' %}" alt="logo_obox">
      </button>

  <!-- Menu -->
  <nav class="flex flex-col h-full items-stretch mt-1 space-y-2">
    <a href="{% url 'home' %}" class="flex items-center gap-3 p-3 hover:bg-gray-700">
      <lord-icon
        src="https://cdn.lordicon.com/jeuxydnh.json"
        trigger="loop"
        delay="1000"
        stroke="bold"
        colors="primary:#ffffff,secondary:#545454">
      </lord-icon>
      <span x-show="open">Inicio</span>
    </a>

    <a href="{% url 'list_student' %}" class="flex items-center gap-3 p-3 hover:bg-gray-700">
      <lord-icon
        src="https://cdn.lordicon.com/fqbvgezn.json"
        trigger="loop"
        delay="1000"
        stroke="bold"
        colors="primary:#ffffff,secondary:#545454">
      </lord-icon>
      <span x-show="open">Alunos</span>
    </a>
    <a href="{% url 'frequence' %}" class="flex items-center gap-3 p-3 hover:bg-gray-700">
      <lord-icon
    src="https://cdn.lordicon.com/urswgamh.json"
    trigger="loop"
    delay="1000"
    stroke="bold"
    colors="primary:#ffffff,secondary:#545454">
</lord-icon>
      <span x-show="open">Frequencia</span>
    </a>
    <!-- Dropdown Financeiro -->
    <div class="relative">
      <button @click="financeOpen = !financeOpen" class="w-full flex items-center gap-3 p-3 hover:bg-gray-700">
        <lord-icon
          src="https://cdn.lordicon.com/bduzytli.json"
          trigger="loop"
          delay="1000"
          stroke="bold"
          colors="primary:#ffffff,secondary:#545454">
        </lord-icon>
        <span x-show="open" class="flex-1 text-left">Financeiro</span>
        <i data-lucide="chevron-right" 
           :class="financeOpen ? 'rotate-90' : ''" 
           x-show="open" 
           class="w-4 h-4 transition-transform ml-auto"></i>
      </button>

      <!-- Quando sidebar aberto -->
      <div x-show="financeOpen && open" class="ml-10 flex flex-col space-y-2">
        <a href="{% url 'cashier' %}" class="flex items-center gap-2 p-2 hover:bg-gray-700 rounded">
          <lord-icon
            src="https://cdn.lordicon.com/eaegfqtv.json"
            trigger="loop"
            delay="1000"
            stroke="bold"
            colors="primary:#ffffff,secondary:#ffffff">
          </lord-icon> Caixa
        </a>
        <a href="{% url 'list_bill' %}" class="flex items-center gap-2 p-2 hover:bg-gray-700 rounded">
          <lord-icon
            src="https://cdn.lordicon.com/fgxwhgfp.json"
            trigger="loop"
            delay="1000"
            stroke="bold"
            colors="primary:#ffffff,secondary:#ffffff">
          </lord-icon>Contas
        </a>
         <a href="#" class="flex items-center gap-2 p-2 hover:bg-gray-700 rounded">
         <lord-icon
            src="https://cdn.lordicon.com/ytklkgsc.json"
            trigger="loop"
            delay="1000"
            stroke="bold"
            colors="primary:#ffffff,secondary:#ffffff">
          </lord-icon>Vendas
        </a>
        <a href="{% url 'nfes' %}" class="flex items-center gap-2 p-2 hover:bg-gray-700 rounded">
          <lord-icon
            src="https://cdn.lordicon.com/hmpomorl.json"
            trigger="loop"
            delay="1000"
            stroke="bold"
            colors="primary:#ffffff,secondary:#ffffff">
          </lord-icon> NFSe
        </a>
      </div>

      <!-- Quando sidebar fechado (popover à direita) -->
      <div 
        x-show="financeOpen && !open" 
        class="absolute left-full top-0 mt-0 ml-1 bg-gray-900 rounded-lg shadow-lg p-2 w-40 z-50"
      >
       <a href="{% url 'cashier' %}" class="flex items-center gap-2 p-2 hover:bg-gray-700 rounded">
          <lord-icon
            src="https://cdn.lordicon.com/eaegfqtv.json"
            trigger="loop"
            delay="1000"
            stroke="bold"
            colors="primary:#ffffff,secondary:#ffffff">
          </lord-icon>Caixa
        </a>
        <a href="{% url 'list_bill' %}" class="flex items-center gap-2 p-2 hover:bg-gray-700 rounded">
         <lord-icon
            src="https://cdn.lordicon.com/fgxwhgfp.json"
            trigger="loop"
            delay="1000"
            stroke="bold"
            colors="primary:#ffffff,secondary:#ffffff">
          </lord-icon>Contas
        </a>
        <a href='#' class="flex items-center gap-3 p-3 hover:bg-gray-700">
         <lord-icon
            src="https://cdn.lordicon.com/ytklkgsc.json"
            trigger="loop"
            delay="1000"
            stroke="bold"
            colors="primary:#ffffff,secondary:#ffffff">
          </lord-icon>Vendas
        </a>
        <a href="{% url 'nfes' %}" class="flex items-center gap-2 p-2 hover:bg-gray-700 rounded">
          <lord-icon
            src="https://cdn.lordicon.com/hmpomorl.json"
            trigger="loop"
            delay="1000"
            stroke="bold"
            colors="primary:#ffffff,secondary:#ffffff">
          </lord-icon>
          NFSe
        </a>
      </div>
    </div>
    <a href="" class="flex items-center gap-3 p-3 hover:bg-gray-700">
      <lord-icon
    src="https://cdn.lordicon.com/oqhqyeud.json"
    trigger="loop"
    delay="1000"
    stroke="bold"
    colors="primary:#ffffff,secondary:#ffffff">
</lord-icon>
      <span x-show="open">Dashboard</span>
    </a>
   
    <a href="" class="flex items-center gap-3 p-3 hover:bg-gray-700">
      <lord-icon
        src="https://cdn.lordicon.com/byupthur.json"
        trigger="loop"
        delay="1000"
        stroke="bold"
        colors="primary:#ffffff,secondary:#ffffff">
      </lord-icon>
      <span x-show="open">Estoque</span>
    </a>
  </nav>
   <a href="{% url 'logout' %}"
     class="justify-self-end-safe flex items-center  p-3  hover:bg-gray-700 rounded-lg transition-colors">
    <lord-icon
      src="https://cdn.lordicon.com/vfiwitrm.json"
      trigger="loop"
      delay="1000"
      stroke="bold"
      colors="primary:#ffffff,secondary:#ffffff">
    </lord-icon>
    <span x-show="open">Sair</span>
  </a>
</div>


