{% extends "_base.html" %}
{% load static %}

{% block title %} Início {% endblock %}

{% block content %}
<div x-data="mainPage()"
    id="mainContainer"
    data-csrf="{{ csrf_token }}"
    class="space-y-6">

  <!-- Saudação -->
  <h1 class="text-xl font-semibold text-white">Olá, O BOX!</h1>

  <div class="flex gap-6">
    <!-- Coluna esquerda (cards) -->
    <div class="flex-1 space-y-6">
       <!-- Card Ativos -->
    <div class="border border-gray-600 rounded-xl shadow-md p-4">
      <button type="button" @click="window.location.href='{{ students_active_url }}'" class="flex justify-between items-center w-full hover:cursor-pointer">
        <div class="flex items-center space-x-2">
          <span class="text-green-500 font-semibold text-lg">Contratos ativos</span>
          <span class="text-green-500 text-3xl font-bold">{{ actives_total }}</span>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
        </svg>
      </button>
    </div>

      <!-- Card A vencer -->
      <div x-data="{ open: false }" class="border border-gray-600 rounded-xl shadow-md p-4">
        <button @click="open = !open" class="flex justify-between items-center w-full hover:cursor-pointer">
          <div class="flex items-center space-x-2">
            <span class="text-orange-500 font-semibold text-lg">Contratos a vencer</span>
            <span id="total_due" class="text-orange-500 text-3xl font-bold">{{ monthly_fees_due_total }}</span>
          </div>
          <svg x-show="!open" x-cloak xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-orange-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
          <svg x-show="open" x-cloak xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-orange-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
          </svg>
        </button>
        <div x-show="open" x-transition class="mt-4 text-sm text-gray-300">
          <table class="w-full text-left text-gray-300">
            <thead>
              {% if monthly_fees_due  %}
                <tr class="border-b border-gray-600">
                <th class="px-4 py-2">Nome Completo</th>
                <th class="px-4 py-2">Plano</th>
                <th class="px-4 py-2">Vencimento</th>
                <th class="px-4 py-2">Ações</th>
              </tr>
              {% endif %}
            </thead>
            <tbody>
              {% for fee in monthly_fees_due %}
              <tr id="fee-row-{{ fee.id }}" class="border-l border-r border-gray-600">
                <td class="px-4 py-2">{{ fee.student.name }}</td>
                <td class="px-4 py-2">{{ fee.student.plan.name_plan }}</td>
                <td class="px-4 py-2">{{ fee.due_date|date:"d/m/Y" }}</td>
                <td class="px-4 py-2">
                  <!-- Botão Receber -->
                  <button
                    @click="show({{ fee.id }}, 'total_due', '{% url 'monthlyfee_api' fee.id %}')"
                    class="px-3 py-1 bg-green-600 text-white rounded-lg hover:bg-green-700 text-sm">
                    Receber
                  </button>
                  <!-- Botão Inativar -->
                  <button
                    @click="deactivateModal.show({ feeId: {{ fee.id }}, studentId: {{ fee.student.id }}, counterId: 'total_due', url:'{% url 'student_api' fee.student.id %}' })"
                    class="px-3 py-1 bg-gray-600 text-white rounded-lg hover:bg-gray-700 text-sm">
                    Inativar
                  </button>
                </td>
              </tr>
              {% empty %}
              <tr><td colspan="4">Nenhum contrato a vencer.</td></tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
          <!-- Card Atrasados -->
    <div x-data="{ open: false }" class="border border-gray-600 rounded-xl shadow-md p-4">
      <button @click="open = !open" class="flex justify-between items-center w-full hover:cursor-pointer">
        <div class="flex items-center space-x-2">
          <span class="text-red-500 font-semibold text-lg">Contratos atrasados</span>
          <span id="total_overdue" class="text-red-500 text-3xl font-bold">{{ monthly_fees_overdue_total }}</span>
        </div>
        <svg x-show="!open" x-cloak xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
        <svg x-show="open" x-cloak xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
        </svg>
      </button>
      <div x-show="open" x-transition class="mt-4 text-sm text-gray-300">
        <div class="space-y-1">
          <table class="w-full text-left text-gray-300">
            {% if monthly_fees_overdue %}
              <thead>
              <tr class="border-b border-gray-600">
                <th class="px-4 py-2">
                  Nome Completo
                </th>
                <th class="px-4 py-2">
                  Plano
                </th>
                <th class="px-4 py-2">
                  Vencimento
                </th>
                <th class="px-4 py-2">
                  Acões
                </th>
              </tr>
            </thead>
            {% endif %}
          <tbody>
          {% for fee in monthly_fees_overdue %}
          <tr id="fee-row-{{ fee.id }}" class="border-l border-r border-gray-600">
            <td class="px-4 py-2">{{ fee.student.name }}</td>
            <td class="px-4 py-2">
              {{ fee.student.plan.name_plan }}
            </td>
            <td class="px-4 py-2">
              {{ fee.due_date|date:"d/m/Y" }}
            </td>
            <td class="px-4 py-2">
                <!-- Botão Receber -->
                  <button
                    @click="show({{ fee.id }}, 'total_overdue', '{% url 'monthlyfee_api' fee.id %}')"
                    class="px-3 py-1 bg-green-600 text-white rounded-lg hover:bg-green-700 text-sm">
                    Receber
                  </button>
                  <!-- Botão Inativar -->
                  <button
                    @click="deactivateModal.show({ feeId: {{ fee.id }}, studentId: {{ fee.student.id }}, counterId: 'total_overdue', url:'{% url 'student_api' fee.student.id %}' })"
                    class="px-3 py-1 bg-gray-600 text-white rounded-lg hover:bg-gray-700 text-sm">
                    Inativar
                  </button>
             </td>
            {% empty %}
            <tr> Nenhum contrato em atraso.</tr>
            </>
          {% endfor %}
          </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
      <!-- Coluna direita (calendário) -->
  <div class="w-80">
    <div x-data="calendar()"
     x-init="$nextTick(() => init())"
     id="calendarContainer"
     data-events='{{ calendar_events|default:"[]"|safe }}'
     data-accounts-url="{{ accounts_url }}"
     class="bg-black text-gray-100 rounded-2xl shadow-xl p-4 border border-gray-700">
  <div class="flex justify-between items-center mb-4">
    <button @click="prevMonth"
            class="px-2 py-1 text-gray-400 hover:text-white">&lt;</button>
    <h2 class="font-bold"
        x-text="monthNames[currentMonth] + ' ' + currentYear"></h2>
    <button @click="nextMonth"
            class="px-2 py-1 text-gray-400 hover:text-white">&gt;</button>
  </div>

  <!-- Cabeçalho dias da semana -->
  <div class="grid grid-cols-7 text-center text-xs font-semibold mb-2 text-gray-400">
    <span class=" text-red-600">Dom</span><span>Seg</span><span>Ter</span><span>Qua</span><span>Qui</span><span>Sex</span><span>Sáb</span>
  </div>

  <!-- Dias -->
  <div class="grid grid-cols-7 text-center text-sm gap-y-2">
    <template x-for="blank in blanks">
      <span></span>
    </template>
    <template x-for="day in daysInMonth" :key="day">
      <div class="relative">
        <span class="inline-block w-8 h-8 leading-8 rounded-full"
              :class="hasEvent(day) ? 'cursor-pointer border-b border-red-700 text-white' : 'cursor-default hover:bg-gray-700'"
              @click="dayClicked(day)"
              x-text="day">
        </span>
        <!-- bolinha indicadora -->
        <span x-show="hasEvent(day)"
              class="absolute bottom-0 left-1/2 transform -translate-x-1/2 w-2 h-2 bg-red-500 rounded-full">
        </span>
      </div>
    </template>
    </div>
    </div>
    </div>
  </div>

  <!-- Modal de Pagamento -->
  {% include 'components/_modal_payments.html' %}
  {% include 'components/_register_payment.html' %}

  <!-- Modal de Inativação -->
  {% include 'components/_inactive_modal.html' %}
  {% include 'components/_notification_modal.html' %}
</div>

<script src="{% static 'js/home.js' %}"></script>
<script src="{% static 'js/notification_modal.js' %}"></script>


{% endblock %}
