{% extends '_base.html' %}
{% load static %}


{% block title %}
    Configurações
{% endblock title %}
    

{% block content %}
   <div class="w-full max-w-6xl mx-auto h-[700px] bg-white rounded-2xl shadow-xl p-6 mt-10" x-data="SettingsHandler()">
    <h1 class="font-semibold text-lg mb-4">Configurações</h1>
    
    <div class="flex h-[90%]">
        <!-- Menu-->
        <aside class="w-1/4 pr-4  border-r-2 border-black/50">
            <nav class="flex flex-col gap-2 text-sm text-gray-800 justify-start items-start">
            <button @click="menu = 'nfs' " type="button" id="nfs" class="hover:text-green-600 hover:cursor-pointer" :class="{'font-bold': menu == 'nfs'}">Emissão Fiscal</button>
            <button type="button" @click="menu = 'plans' " id="plans" class="hover:text-green-600 hover:cursor-pointer" :class="{'font-bold': menu == 'plans'}">Planos e Serviços</button>
            <button type="button" @click="menu = 'payments' " id="payments" class="hover:text-green-600 hover:cursor-pointer" :class="{'font-bold': menu == 'payments'}">Formas de Pagamento</button>
            </nav>
        </aside>
        <!-- Formulários -->
        <main class="flex-1 pl-6">
            <!-- Nota Fiscal -->
            <div x-show="menu == 'nfs'">
                <h2 class="font-semibold mb-4">Dados e Emissão Fiscal</h2>
                <nav class="w-[80%] font-semibold flex justify-between">
                    <a href="">Sobre</a>
                    <a href="">Cadastro</a>
                    <a href="">Fiscal</a>
                    <a href="">Certificado</a>
                </nav>
                <div class="text-sm text-gray-700 space-y-2">
                <p><strong>Dados da Emissão</strong></p>
                <p>CNPJ:</p>
                <p>CIDADE/UF:</p>
                <p>Certificado Digital Obrigatório: <span class="font-semibold text-green-600">Sim</span></p>
                </div>
            </div>
            <!-- Planos -->
             <div x-show="menu == 'plans'">
                <div class="flex gap-5 text-white mb-5">
                    <button class="bg-green-500 flex justify-around w-44 p-1 rounded-lg">Novo plano <i data-lucide="plus" class="w-5 h-5"></i></button>
                    <button class="bg-green-500 flex justify-around w-44 p-1 rounded-lg">Novo Serviço <i data-lucide="plus" class="w-5 h-5"></i></button>
                </div>
                <div class="my-5">
                <h2 class="font-semibold">Planos</h2>
                    {% for plan in plans %}
                        <div class="grid grid-cols-4 border-b mb-2 p-2 text-sm">
                            <p class="items-center">
                                <br><span class="font-semibold">{{plan.name_plan}}</span>
                            </p>
                            <p>
                                <span class="font-semibold">Valor:</span> <br>
                                <span> R$ {{plan.price}}</span>
                            </p>
                            <p>
                                <span class="font-semibold">Duração:</span> <br>
                                {{plan.duration_months}} Mês
                            </p>
                            <p>
                                <br>
                                <button class="ml-6 bg-black text-white p-1 rounded-full hover:bg-gray-800 hover:cursor-pointer">
                                <i data-lucide="pencil" class="w-[15px] h-[15px]"></i></button>
                            <button type="button" class="ml-1 bg-black text-white p-1 rounded-full hover:bg-red-800 hover:cursor-pointer">
                                <i data-lucide="trash" class="w-[15px] h-[15px]"></i></button>
                            </p>
                        </div>
                    {% endfor %}
                </div>
                <div class="mt-5 my-5">
                    <h2 class="font-semibold">Serviços</h2>
                    {% for plan in plans %}
                        <div class="grid grid-cols-3 mb-2 p-2 text-sm w-[70%]">
                            <p class="items-center">
                                <br><span class="font-semibold">{{plan.name_plan}}</span>
                            </p>
                            <p>
                                <span class="font-semibold">Valor:</span> <br>
                                <span> R$ {{plan.price}}</span>
                            </p>
                            <p>
                                <br>
                                <button class="ml-6 bg-black text-white p-1 rounded-full hover:bg-gray-800 hover:cursor-pointer">
                                <i data-lucide="pencil" class="w-[15px] h-[15px]"></i></button>
                            <button type="button" class="ml-1 bg-black text-white p-1 rounded-full hover:bg-red-800 hover:cursor-pointer">
                                <i data-lucide="trash" class="w-[15px] h-[15px]"></i></button>
                            </p>
                        </div>
                    {% endfor %}
                </div>
             </div>
             <!-- Metodos de Pagamento -->
             <div x-show="menu == 'payments'">
                <h2>Metodos de pagamento</h2>
             </div>
        </main>
    </div>

</div>

<script src="{% static 'js/settings.js' %}"></script>

{% endblock content %}
    