{% extends '_base.html' %}
{% load static %}


{% block title %}
    Configurações
{% endblock title %}


{% block content %}
   <div class="w-full max-w-6xl mx-auto h-[700px] bg-white rounded-2xl shadow-xl p-6 mt-10" x-data="SettingsHandler()" >
    {% csrf_token %}
    <h1 class="font-semibold text-lg mb-4">Configurações</h1>

    <div class="flex h-[90%]">
        <!-- Menu-->
        <aside class="w-1/4 pr-4  border-r-2 border-black/50">
            <nav class="flex flex-col gap-2 text-sm text-gray-800 justify-start items-start">
                <button type="button" @click="menu = 'info', GetInfoEnterprise('{{url_enterprise}}/{{enterprise.id}}') " id="info" class="hover:text-green-600 hover:cursor-pointer" :class="{'font-bold': menu == 'info'}">Dados da Empresa</button>
                <button @click="menu = 'nfs', GetInfoEnterprise('{{url_enterprise}}/{{enterprise.id}}')" type="button" id="nfs" class="hover:text-green-600 hover:cursor-pointer" :class="{'font-bold': menu == 'nfs'}">Emissão Fiscal</button>
                <button type="button" @click="menu = 'plans' " id="plans" class="hover:text-green-600 hover:cursor-pointer" :class="{'font-bold': menu == 'plans' | menu == 'create-plan' | menu == 'create-service'}">Planos e Serviços</button>
                <button type="button" @click="menu = 'payments' " id="payments" class="hover:text-green-600 hover:cursor-pointer" :class="{'font-bold': menu == 'payments' | menu == 'create-payment'}">Formas de Pagamento</button>
            </nav>
        </aside>
        <!-- Formulários -->
        <main class="flex-1 pl-6">
            <!--Dados da empresa-->
            <div x-show="menu == 'info'" x-init="GetInfoEnterprise('{{url_enterprise}}/{{enterprise.id}}')">
                <h2 class="font-semibold mb-4">Dados da empresa</h2>
                <form @submit.prevent="UpdateInfoEnterprise('{{url_enterprise}}/{{enterprise.id}}')">
                    <h2 class="font-bold">Dados Cadastrais</h2>
                    <div class="grid md:grid-cols-2 mb-5 border rounded-2xl p-3 w-[90%]">
                        <div>
                            <label class="font-semibold" for="name">* Nome da empresa:</label><br>
                            <input type="text" name="name" id="name" class="border-b w-[90%]" x-model="formData.name" required>
                        </div>
                        <div>
                            <label class="font-semibold" for="cnpj">* CNPJ:</label><br>
                            <input type="text" x-mask="99.999.999/9999-99"  name="cnpj" id="cnpj" class="border-b w-[90%]" x-model="formData.cnpj" required>
                        </div>
                         <div>
                            <label class="font-semibold" for="phone_number">Número de telefone:</label><br>
                            <input type="text" x-mask="(99) 99999-9999" name="phone_number" id="phone_number" class="border-b w-[90%]" x-model="formData.phone_number">
                        </div>
                        <div>
                            <label class="font-semibold" for="email">E-mail:</label><br>
                            <input type="email" name="email" id="email" class="border-b w-[90%]" x-model="formData.email">
                        </div>
                    </div>
                    <h2 class="font-bold">Endereço</h2>
                    <div class="grid md:grid-cols-[1fr_1fr_10%] mb-5 p-3 border rounded-2xl w-[90%]">
                        <div>
                            <label class="font-semibold" for="cep">* CEP:</label><br>
                            <input type="text" x-mask="99999-999" @change='SearchCep()' name="cep" id="cep" class="border-b w-[90%]" x-model="formData.cep" required>
                        </div>
                        <div>
                            <label class="font-semibold" for="city">Cidade:</label><br>
                            <input type="text" name="city" id="city" class="border-b w-[90%]" x-model="formData.city" readonly>
                        </div>
                        <div>
                            <label class="font-semibold" for="state">Estado:</label><br>
                            <input type="text" name="state" id="state" class="border-b w-[90%] text-center" x-model="formData.state" readonly>
                        </div>
                        <div>
                            <label class="font-semibold" for="street">Rua:</label><br>
                            <input type="text" name="street" id="street" class="border-b w-[90%]" x-model="formData.street" required readonly>
                        </div>
                        <div>
                            <label class="font-semibold" for="neighborhood">Bairro:</label><br>
                            <input type="text" name="neighborhood" id="neighborhood" class="border-b w-[90%]" x-model="formData.neighborhood" readonly>
                        </div>
                        <div>
                            <label class="font-semibold" for="house_number">* Nº:</label><br>
                            <input type="number" name="house_number" id="house_number" class="border-b w-[90%] text-center" x-model="formData.house_number" required>
                        </div>
                    </div>
                    <div class="flex justify-end w-[90%]">
                        <button type="submit" class="bg-green-500 p-1.5 rounded-2xl mt-5 w-[100px] cursor-pointer hover:bg-green-700">Salvar</button>
                    </div>
                </form>
            </div>
            <!-- Nota Fiscal -->
            <div x-show="menu == 'nfs'">
                <h2 class="font-semibold mb-4">Emissão Fiscal</h2>
                <form @submit.prevent="UpdateInfoEnterprise('{{url_enterprise}}/{{enterprise.id}}')">
                    <div class="grid grid-cols-2 gap-2 w-[90%] mb-5">
                        <div>
                            <label for="cnae_code">Código Cnae:</label><br>
                            <input type="number" name="cnae_code" id="cnae_code" class="border-b w-[90%]" x-model="formData.cnae_code">
                        </div>
                        <div>
                            <label for="service_code">Código de serviço:</label><br>
                            <input type="text" name="service_code" id="service_code" class="border-b w-[90%]" x-model="formData.service_code" step="any">
                        </div>
                        <div>
                            <label for="iss_aliquot">Alíquota de ISS (%):</label><br>
                            <input type="number" name="iss_aliquot" id="iss_aliquot" x-model="formData.iss_aliquot" step="any" class="border-b w-[90%]">
                        </div>
                    </div>
                     <div>
                        <input type="checkbox" name="iss_retained" id="iss_retained" x-model="formData.iss_retained">
                        <label for="iss_retained">Iss Retido</label>
                        <div x-show="formData.iss_retained" class="flex gap-2 mt-2">
                            <label for="iss_value">Valor Retido: R$</label>
                            <input type="number" name="iss_value" id="iss_value" x-model="formData.iss_value" step="any" class="border-b">
                        </div>
                    </div>
                    <div class="flex justify-end w-[90%]">
                        <button type="submit" class="bg-green-500 p-1.5 rounded-2xl mt-5 w-[100px] cursor-pointer hover:bg-green-700">Salvar</button>
                    </div>
                </form>
            </div>
            <!-- Planos -->
             <div x-show="menu == 'plans'">
                <div class="flex gap-5 text-white mb-5">
                    <button @click="menu = 'create-plan'" class="bg-green-500 flex justify-around w-44 p-1 rounded-lg hover:cursor-pointer">Novo plano <i data-lucide="plus" class="w-5 h-5"></i></button>
                    <button @click="menu = 'create-service'" class="bg-green-500 flex justify-around w-44 p-1 rounded-lg hover:cursor-pointer">Novo Serviço <i data-lucide="plus" class="w-5 h-5"></i></button>
                </div>
                <div class="my-5">
                <h2 class="font-semibold">Planos</h2>
                    {% for plan in plans %}
                        <div class="grid grid-cols-4 border-b mb-2 p-2 text-sm">
                            <p class="items-center">
                                <br><span class="font-semibold">{{plan.name_plan}}</span>
                            </p>
                            <p>
                                <span class="font-semibold">Valor:</span> <br>
                                <span> R$ {{plan.price}}</span>
                            </p>
                            <p>
                                <span class="font-semibold">Duração:</span> <br>
                                {{plan.duration_months}} Mês
                            </p>
                            <p>
                                <br>
                                <button @click="EditForm('{{url_plan}}{{plan.id}}', 'plan')" class="ml-6 bg-black text-white p-1 rounded-full hover:bg-gray-800 hover:cursor-pointer">
                                <i data-lucide="pencil" class="w-[15px] h-[15px]"></i></button>
                            <button type="button" @click="DeleteForm('{{url_plan}}{{plan.id}}')" class="ml-1 bg-black text-white p-1 rounded-full hover:bg-red-800 hover:cursor-pointer">
                                <i data-lucide="trash" class="w-[15px] h-[15px]"></i></button>
                            </p>
                        </div>
                    {% endfor %}
                </div>
                <div class="mt-5 my-5">
                    <h2 class="font-semibold">Serviços</h2>
                    {% for service in services %}
                        <div class="grid grid-cols-3 mb-2 p-2 text-sm w-[70%]">
                            <p class="items-center">
                                <br><span class="font-semibold">{{service.service}}</span>
                            </p>
                            <p>
                                <span class="font-semibold">Valor:</span> <br>
                                <span> R$ {{service.price}}</span>
                            </p>
                            <p>
                                <br>
                                <button @click="EditForm('{{url_service}}{{service.id}}', 'service')" class="ml-6 bg-black text-white p-1 rounded-full hover:bg-gray-800 hover:cursor-pointer">
                                <i data-lucide="pencil" class="w-[15px] h-[15px]"></i></button>
                            <button @click="DeleteForm('{{url_service}}{{service.id}}')" type="button" class="ml-1 bg-black text-white p-1 rounded-full hover:bg-red-800 hover:cursor-pointer">
                                <i data-lucide="trash" class="w-[15px] h-[15px]"></i></button>
                            </p>
                        </div>
                    {% endfor %}
                </div>
             </div>
             <!--Criar/Editar plano-->
             <div x-show="menu == 'create-plan'" id="create_plan">
                    <h2 class="font-semibold mb-5">Criar Plano</h2>
                    <form class="flex flex-col gap-3" @submit.prevent="SubmitForm('{{url_plan}}')">
                        <div>
                            <label class="font-semibold" for="name">Nome do plano:</label><br>
                            <input type="text" name="name" id="name" class="border-b w-[90%]" x-model="formData.name_plan" placeholder="Nome do plano" required>
                        </div>
                        <div>
                            <label class="font-semibold" for="description">Descrição:</label><br>
                            <textarea name="description" id="description" x-model="formData.description" class="border rounded-2xl w-[90%] min-h-[100px] p-2" required></textarea>
                        </div>
                        <div>
                            <label class="font-semibold" for="price">Valor:</label><br>
                            <input type="number" name="price" id="price" x-model="formData.price" class="border-b" required>
                        </div>
                        <div>
                            <label class="font-semibold" for="duration">Duração</label><br>
                            <input type="number" x-model="formData.duration_months" class="border-b w-[40px] mr-3" required>
                            <select name="duration" id="duration" class="border-b p-0.5">
                                <option value="mes">Mês</option>
                            </select>
                        </div>

                    <div class="mt-5 flex gap-5">
                        <button type="button" @click="menu = 'plans', ClearForm()" class="rounded-lg bg-[#D9D9D9] p-1 w-40 border cursor-pointer">Cancelar</button>
                        <button type="submit" class="rounded-lg bg-[#059F5A] text-white p-1 w-40 border border-black cursor-pointer" >Salvar</button>
                    </div>
                    </form>
                </div>
                <!--Criar Serviço -->
                <div x-show="menu == 'create-service'">
                    <h2 class="font-semibold mb-5">Novo Serviço</h2>
                    <form action="" class="flex flex-col gap-3" @submit.prevent="SubmitForm('{{url_service}}')">
                        <div>
                            <label class="font-semibold" for="name">Descrição:</label><br>
                            <input type="text" x-model="formData.service" name="name" id="name" class="border-b w-[90%]" placeholder="Ex: Taxa matrícula" required>
                        </div>
                        <div>
                            <label class="font-semibold" for="price">Valor:</label><br>
                            <input type="number" x-model="formData.price" name="price" id="price" class="border-b w-44" placeholder="Ex. 5" required>
                        </div>
                        <div>
                            <label class="font-semibold" for="duration">Categoria de receita</label><br>
                            <select name="duration" x-model="formData.category" id="duration" class="border-b w-44">
                                <option>Vendas</option>
                                <option>Compras</option>
                            </select>
                        </div>

                    <div class="mt-5 flex gap-5">
                        <button type="button" @click="menu = 'plans', ClearForm()" class="rounded-lg bg-[#D9D9D9] p-1 w-40 border cursor-pointer">Cancelar</button>
                        <button type="submit" class="rounded-lg bg-[#059F5A] text-white p-1 w-40 border border-black cursor-pointer" >Salvar</button>
                    </div>
                    </form>
                </div>
             <!-- Metodos de Pagamento -->
             <div x-show="menu == 'payments'">
                <button @click="menu = 'create-payment'" class="bg-green-500 text-white flex justify-around w-44 p-1 rounded-lg hover:cursor-pointer">Criar novo<i data-lucide="plus" class="w-5 h-5"></i></button>
                <div>
                    {% for payment in payments %}
                        <div class="flex justify-between border-b p-1 text-sm w-[90%]">
                            <p class="items-center">
                                <br><span class="font-semibold">{{payment.method|title}}</span>
                            </p>
                            <p>
                                <br>
                                <button @click="EditForm('{{url_payments}}{{payment.id}}', 'payment')" class="ml-6 bg-black text-white p-1 rounded-full hover:bg-gray-800 hover:cursor-pointer">
                                <i data-lucide="pencil" class="w-[15px] h-[15px]"></i></button>
                            <button type="button" @click="DeleteForm('{{url_payments}}{{payment.id}}')" class="ml-1 bg-black text-white p-1 rounded-full hover:bg-red-800 hover:cursor-pointer">
                                <i data-lucide="trash" class="w-[15px] h-[15px]"></i></button>
                            </p>
                        </div>
                    {% endfor %}
                </div>
             </div>
             <!--Criar / Editar Pagamento-->
             <div x-show="menu == 'create-payment' ">
                <h2>Novo metodo de pagamento</h2>
                <form class="mt-3 flex flex-col gap-5" @submit.prevent="SubmitForm('{{url_payments}}')">
                    <label for="name">Metodo: </label>
                    <input type="text" name="name" id="name" x-model="formData.method" placeholder="Pix, Débito, Crédito..." class="border-b" required>
                    <div class="flex gap-3">
                        <button type="button" @click="menu = 'payments', ClearForm()" class="rounded-lg bg-[#D9D9D9] p-1 w-40 border cursor-pointer">Cancelar</button>
                        <button type="submit" class="rounded-lg bg-[#059F5A] text-white p-1 w-40 border border-black cursor-pointer hover:bg-green-500" >Salvar</button>
                    </div>
                </form>
             </div>
        </main>
    </div>

</div>

<script src="{% static 'js/settings.js' %}"></script>

{% endblock content %}
