<div>
        <div class=" w-[220px]" > <!--Adicionar pagamento-->
          <div @click="dropdown = !dropdown" class="flex justify-between items-center shadow-sm bg-gray-800 p-2 py-2 rounded-lg border text-white font-bold hover:cursor-pointer transition"> 
            <span class="">Adicionar pagamento</span> 
            <i data-lucide="chevron-down" class="h-6 w-6"></i>
          </div> 
          <ul x-show="dropdown" class="border rounded-lg">
            {% for payment in payment_methods %}
              <li 
              @click="addPayment({{payment.id}}, '{{ payment.method }}', '{{today|date:'Y-m-d'}}')"
              class="p-1 px-2 hover:bg-gray-800 hover:cursor-pointer transition focus:border-gray-700 focus:ring-2 focus:ring-gray-700 rounded-lg">
                {{payment.method|title}}
              </li>
            {% endfor %}
          </ul>
        </div> <!-- Fim Adicionar pagamento-->
        <template x-for="(p, id,) in payments" :key="id"> <!--Div de pagamento-->
           <div class="flex justify-between gap-4 items-center mt-5 w-[80%]"> 
          <div class="">
            <span class="border rounded-lg p-2 bg-green-500  px-4 block w-40 text-center" x-text="p.payment_method"></span>
          </div>
          <div class="flex flex-col">
            <label for="">Valor a receber</label>
            <input @input="updateValidation()" type="number" class="border-b" name="receive_value" id="receive_value" step="any" x-model="p.value">
          </div>
          <div class="flex flex-col">
            <label for="date_payment">Dia do pagamento</label>
            <input type="date" name="date_payment" id="date_payment" value="{{today|date:'Y-m-d'}}">
          </div>
          <div class="flex flex-col">
            <label for="">N de parcelas</label>
            <select name="" id="" x-model.number="p.quantity_installments">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            </select>
          </div>
          <div>
            <button type="button" @click="removePayment(id)">
          <i data-lucide="trash" class="lucide lucide-trash bg-black text-white rounded-full p-1 w-8 h-8 hover:bg-red-500 hover:cursor-pointer"></i>
        </button>
          </div>
        </div>
        </template>
        <input type="hidden" name="payments" :value="JSON.stringify(payments)">
        <div x-show="alert" class="h-[120px] w-[30%] m-auto bg-[#F4F4F4] rounded-lg flex flex-col justify-center items-center mt-5 text-center px-4">
          <span x-text="validationMessage"></span>
        </div> <!--Mensagem de valor menor-->
      </div>
