 <div class="space-y-2">
            <div class="flex items-center gap-2">
              <input type="checkbox" id="descontoMulta" name="descontoMulta" x-model="discountEnabled" class="h-4 w-4 text-green-500 border-gray-300 rounded" @change="applyDiscountEnabled(discountEnabled)">
              <label for="descontoMulta" class="text-sm">Aplicar desconto ou multa</label>
            </div>
           <div x-show="discountEnabled" class="grid grid-cols-2 gap-4">
                <div class="gap-2">
                  <label class="text-sm block">(-) Desconto</label>
                  <input type="number" placeholder="%" id="percent_discount" name="percent_discount" class="w-2/3 border-b focus:outline-none" step="any" :value="paymentData.discountPercent" @input="updateDiscountFromPercent($event.target.value)">
                  <input type="number" placeholder="R$" id="value_discount" name="value_discount" class="w-2/3 border-b focus:outline-none" step="any" :value="paymentData.discountValue" @input="updateDiscountFromValue($event.target.value)">
                </div>
                <div class="gap-2">
                  <label class="text-sm block">(+) Multa</label>
                  <input type="number" placeholder="%" name="percent_fine" id="percent_fine" class="w-2/3 border-b focus:outline-none" step="any" :value="paymentData.finePercent" @input="updateFinePercent($event.target.value)">
                  <input type="number" placeholder="R$" name="value_fine" id="value_fine" class="w-2/3 border-b focus:outline-none" step="any" :value="paymentData.fineValue" @input="updateFineValue($event.target.value)">
                </div>
              </div>
          </div>
