 <div x-show="paymentModal" x-cloak class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white rounded-2xl shadow-xl w-[50%] p-6 relative">
      <button @click="close()" class="absolute top-3 right-3 text-gray-600 hover:text-gray-900">✕</button>
      <h2 class="text-xl font-semibold mb-4">Dados do pagamento</h2>

      <form @submit.prevent="submitForm()" class="space-y-6 gap-8">
        <input type="hidden" x-model="monthlyfeeId">

        <div class="grid grid-cols-3 gap-4 text-sm">
          <!-- Plano -->
          <div>
            <label class="block font-medium">Plano:</label>
             <input class="text-gray-700 w-32 border-b border-gray-400 focus:outline-none" :value="feeData.plan" readonly>
          </div>
            <!-- Valor -->
          <div>
            <label class="block font-medium">Valor:</label>
            <input class="text-gray-700 w-32 border-b border-gray-400 focus:outline-none" :value="feeData.base_amount.toLocaleString('pt-BR', {style: 'currency', 'currency': 'BRL'})" readonly>
          </div>
          <div>
          <label class="block text-gray-700">Dia do pagamento</label>
          <input type="text" name="dia_pagamento" value="{{today|date:'d/m/Y'}}" 
            class="w-32 border-b border-gray-400 focus:outline-none">
        </div>
        </div>
        <!-- Desconto -->
         {% include 'components/_apply_discount.html' %}
         <!-- Valor após desconto -->
        <div class="grid grid-cols-3 gap-4 text-sm ">
          <div x-show="formData.apply_discount">
            <label class="block font-medium">Valor após desconto:</label>
            <input class="text-gray-700 font-semibold w-32 border-b border-gray-400 focus:outline-none " readonly :value="formatDecimal(feeData.final_amount)">
          </div>
        </div>
<!-- Metodos de pagamento -->
        {% include 'components/_add_payments.html' %}
        <div class="flex justify-center">
          <button type="button"
          @click="registerModal = true"
            id="button-confirm"
            class="px-3 py-1 bg-gray-300 text-white rounded-lg  text-sm"
            :class="{
            'bg-green-500 hover:bg-green-700': validate == true
            }"
            :disabled="!validate"
            >
            Receber
          </button>
        </div>
      </form>
    </div>
  </div>