<div x-show="showStatus" @click.outside="showEdit = false"  x-transition class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white rounded-2xl shadow-xl w-full max-w-lg p-6 relative">
      <h2 class="text-lg font-semibold mb-4">Alterar conta </h2>

      <!-- Fechar -->
      <button @click="modalclose()" class="absolute top-3 right-3 text-gray-500 hover:text-black">✖</button>

      <!-- Conteúdo -->
      <form @submit.prevent="submitForm">
        {% csrf_token %}
        <div class="space-y-4">
          <div>
            <label class="block text-sm text-gray-500">Descrição</label>
            <input type="text" name="description" x-model="formData.description">
          </div>
          <div class="grid grid-cols-2 gap-4">
            <div>
              <label class="block text-sm text-gray-500">Valor inicial:</label>
              <input type="number" name="value" id="edit_value" class="font-medium" x-model='formData.value' @input='recalcTotal'>
            </div>
            <div>
              <label class="block text-sm text-gray-500">Data do pagamento:</label>
              <input type="date" name="date_payment" class="font-medium" x-model="formData.date_payment">
            </div>
          </div>
          <!-- Recorrente -->
          <div class="flex items-center gap-2">
            <input type="checkbox" 
            name="appellant"
            x-model.boolean="formData.appellant"
            class="h-4 w-4 text-green-500 border-gray-300 rounded">
            <label class="text-sm">Tornar recorrente</label>
          </div>
          <!-- Desconto/Multa -->
          <div class="space-y-2">
            <div class="flex items-center gap-2">
              <input type="checkbox" name="apply_discount" id="apply_discount" x-model="formData.apply_discount" class="h-4 w-4 text-green-500 border-gray-300 rounded" @change="recalcTotal">
              <label class="text-sm">Aplicar desconto ou multa</label>
            </div>
            <div class="grid grid-cols-2 gap-4" x-show="formData.apply_discount">
                <div class="gap-2">
                  <label class="text-sm block">(-) Desconto</label>
                  <input type="number" placeholder="%" name="percent_discount" id="percent_discount"  class="w-2/3 border-b focus:outline-none" x-model="formData.percent_discount" @input="recalcTotal">
                  <input type="number" placeholder="R$" name="value_discount" id="value_discount" class="w-2/3 border-b focus:outline-none" x-model="formData.value_discount" @input="recalcTotal">
                </div>
                <div class="gap-2">
                  <label class="text-sm block">(+) Multa</label>
                  <input type="number" placeholder="%" name="percent_fine" id="percent_fine" class="w-2/3 border-b focus:outline-none" x-model="formData.percent_fine" @input="recalcTotal">
                  <input type="number" placeholder="R$" name="value_fine" id="value_fine" class="w-2/3 border-b focus:outline-none" x-model="formData.value_fine" @input="recalcTotal">
                </div>
              </div>
            </div>
          </div>
          <!-- Total -->
          <div>
            <label class="text-sm">Total a pagar:</label>
            <input type="number" class="font-bold text-lg" name="total_value" id="total_value" x-model="formData.total_value" readonly>
          </div>
          <!-- Ações -->
          <div class="flex justify-center gap-4 pt-4">
            <button type="button" @click="modalclose()" class="px-4 py-2 w-32 rounded-lg bg-gray-700 text-white">Cancelar</button>
            {% for status in status_bill %}
            {% if status.status != 'PENDENTE' and status.status != 'ATRASADO' %}
              <button type="submit" @click="formData.status = {{ status.id }}" class="px-4 py-2 w-32 rounded-lg text-white" 
              :class="{
              'bg-green-500' : '{{status.status}}' == 'PAGO',
              'bg-[#484747]' : '{{status.status}}' == 'AUTOMÁTICO',
              'bg-[#F65F0B]' : '{{status.status}}' == 'AGENDADO',
              }">{{status.status|title}}</button>
            {% endif %}
            {% endfor %}
          </div>
      </form>
      </div>
    </div>