name: CI

on:
    pull_request:
    push:

jobs:
    ruff:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6

            - name: Set up Python
              uses: actions/setup-python@v6
              with:
                  python-version: "3.13"

            - name: Install ruff
              run: pip install ruff==0.6.4

            - name: Ruff lint
              run: ruff check .

            - name: Ruff format (check)
              run: ruff format --check .
    
    black:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v6
              with:
                python-version: "3.13"

            - name: Install black
              run: pip install black==23.7.0

            - name: Black format (check)
              run: black --check .
